body{
    margin: 0;
    box-sizing: border-box;
    /* padding: 0; */
    font-family: "Raleway", serif;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.intro-section{
    background: url("../img/bg.png") center no-repeat;
    background-size: 100% 100%;
}


/*header*/
header{
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    justify-content: space-around;
    position: relative;
}

.toggle-nav{
    /* display:none; */
    position: relative;
    background-color: transparent;
    outline: none;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 0;  
    cursor: pointer; 
    padding: 10px;
}

.toggle-nav-item{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;

    left: 0;
    top: 50%;
    transform: scaleY(-50%);
}

.toggle-nav-item::after,
.toggle-nav-item::before{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .2s linear;
}

.toggle-nav-item::before{
    top: 14px;
}

.toggle-nav-item::after{
    top: -14px;
}

.toggle-active .toggle-nav-item{
    background-color: transparent;
}

.toggle-active .toggle-nav-item::after,
.toggle-active .toggle-nav-item::before{
    top: 0;
}

.toggle-active .toggle-nav-item::before{
    transform: rotate(55deg);
}

.toggle-active .toggle-nav-item::after{
    transform: rotate(-55deg);
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav-item{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 50px;
    color: #8e909e;
    transition: color .2s linear;
}

.nav-item:after{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.nav-item:hover{
    color: #fff;
}

.nav-item:hover:after {
    opacity: 1;
}


/* intro */
.intro-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 150px 0;
}

.intro-title{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 46px;
}

.intro-text{
    font-size: 22px;
    color: #fff;
    padding-bottom: 80px;
}

.btn{
    padding: 15px 60px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: #e84545;
    transition: opacity 0.2s linear;
}

.btn:hover{
    opacity: 0.7;
}

/* about */
.about-section{
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
}

.about-col{
    flex: 1 1 0;
}

.about-item{
    text-align: center;
    margin: 0 30px 60px 30px;
}

.about-item-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    color: #2d3033;
}

.about-item-text{
    font-size: 14px;
    font-weight: 400;
    color: #6c7279;
}

/* projects */
.projects{
    display: flex;
    justify-content: space-around;
}

.project-item{
    position: relative;
    background: linear-gradient(45deg,#f38181, #fce38a);
    /* transition: opacity 0.2s linear; */
}

.project-item:hover .project-item-img{
    opacity: .1;
}


.project-item-img{
    display: block;
    width: 100%;
    height: auto;
}

.project-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s linear;
}

.project-item:hover .project-content{
    opacity: 1;
}

.project-title{
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.project-text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* people */
.people{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
    /* flex-wrap: wrap; */
}

.people-item{
    width: 20%;
    /* margin: 0 30px 0 0; */
}

.people-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.people-name{
    margin: 30px 0 15px 0;
    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.people-prof{
    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;
}

.people-text{
    font-size: 14px;
    font-weight: 400;
    color: #6c7279;
    margin: 20px 0;
}

.follow{
    display: flex;  
}

.follow-item{
    background-color: #c6cacc;
    transition: background-color .2s linear;
}

.follow-item:hover{
    background-color: #909394;
}

/* slider */
.slider-item{
    display: flex;
    background-color: #53354a;
}

.slider-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.slider-content{
    width: 70%;
    padding: 50px 80px;
}

.slider-text{
    font-family: "Cardo", serif;
    font-size: 36px;
    font-style: italic;
    color: #fff;
    margin-bottom: 40px;
}

.slider-title{
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-wolls{
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.slider-wolls-item{
    height: 12px;
    width: 12px;
    border: 1px solid #755d6e;
    background-color: #755d6e;
    border-radius: 50%;
    margin: 0 8px;
    transition: background-color .2s linear;
}

.slider-wolls-item:hover{
    color: #fff;
    background-color: #fff;
}

/* letsgo */
.letsgo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px 0;
}

.letsgo-title{
    color: #2d3033;
    font-weight: 300;
    font-size: 28px;
}

.letsgo-text{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    margin: 20px 0 40px 0;
}

/* footer */
.footer-bg{
    background: #3a3e64;
}

.footer{
    display: flex;
    background-color: #3a3e64;
    padding: 70px 0;
}

.footer-col{
    width: 33%;
    text-align: center;
}

.footer-col:first-child .footer-col-text{
    padding: 0 100px;
}

.footer-col-title{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-col-text{
    font-size: 14px;
    font-weight: 400;
    color: #818297;
    line-height: 1.6;
}

.footer-follow-item{
    background-color: transparent;
}

.footer-bg-down{
    background-color: #313454;
}

footer{
    text-align: center;   
}

.footer-text{
    font-size: 14px;
    padding: 30px 0;
    color: #808080;
}

@media(max-width: 1200px){
    /* slider */
    .slider-img{
        width: 55%;
    }
    .slider-content{
        width: 70%;
        padding: 10px 40px;
    }
}

@media(max-width: 990px){
    /* header */
    header{
        justify-content: space-around;
    }
    
    .logo{
        width: 30%;
    }

    .logo-img{
        display: block;
        width: 100%;
        height: auto;
    }

    .nav-item{
        padding-left: 20px;
    }

    /* intro */
    .intro-content{
        padding: 100px 0;
    }

    .intro-title{
        font-size: 45px;
    }

    .intro-text{
        font-size: 14px;
    }

    /* about */
    .about-section{
        margin-bottom: 60px;
    }

    /* projects */
    .projects{
        flex-wrap: wrap;
    }
    .project-item{
        width: 50%;
    }

    .project-col{
        display: flex;
        width: 100%;
    }


    /* people */
    .people{
        margin: 100px 0px;
        flex-wrap: wrap;
        /* margin-bottom: 50px; */
    }

    .people-img{
        margin: 0 auto;
    }

    .people-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    
    .follow{
        justify-content: center;
    }
    /* slider */
    .slider-img{
        width: 55%;
    }

    .slider-content{
        width: 50%;
        padding: 10px 40px;
    }

    .slider-text{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .slider-title{
        font-size: 11px;
    }

    .slider-wolls{
        margin-top: 60px;
    }

    /* footer */
    .footer-col:first-child .footer-col-text{
        padding: 0 10px;
    }
}

@media(max-width: 770px){
    /* header */
    header{
        justify-content: space-between;
    }

    .nav{
        display: none;
    }

    header{
        background-color: #333650;
        padding: 20px;
    }

    .nav-active{
        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 55px;
        background-color: #333650;
    }

    .nav-item{
        padding: 10px;
    }

    .logo{
        width: 33%;
        text-align: center;
    }

    /* intro */
    .intro-content{
        padding: 20px;
    }
    
    .intro-text{
        padding-bottom: 50px;
    }

    /* about */
    .about-section{
        margin: 50px 0;
        flex-direction: column;
    }

    .about-col{
        display: flex;
        width: 100%;
    }

    .about-item{
        width: 50%;
        margin: 30px;
    }

    /* people */
    .people{
        justify-content: center;
        margin-bottom: 50px;
    }
    /* slider */
    .slider-item{
        flex-direction: column;
        text-align: center;
    }
    
    .slider-img{
        width: 100%;
    }

    .slider-content{
        width: 100%;
        padding: 10px 20px;
    }

    .slider-wolls{
        margin-top: 30px;
    }

    /* footer */
    .footer{
        align-items: center;
        padding: 40px 0;
    }
}

@media(max-width: 550px){
    /* header */
    header{
        justify-content: space-around;
        padding: 15px 0;
    }
    
    .logo-img{
        padding: 5px 0;
    }

    .nav-active{
        top: 50px;
    }
    
    /* intro */
    .intro-title{
        font-size: 30px;
    }

    .intro-text{
        padding-bottom: 36px;
    }

    /* about */
    .about-col{
        width: 100%;
        flex-wrap: wrap;
    }

    .about-item{
        width: 100%;
        margin: 20px;
    }

    /* project */
    .project-col{
        flex-direction: column;
    }

    .project-item{
        width: 100%;
    }

    /* people */
    .people{
        margin: 50px 0;
    }

    .people-item{
        width: 100%;
    }

    .people-name{
        margin: 15px 0 10px 0;
    }

    .people-text{
        margin: 15px 0;
    }

    /* footer */
    .footer{
        flex-direction: column;
        padding: 20px;
    }
    
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-col:last-child{
        margin-bottom: 0;
    }

    .footer-text{
        padding: 15px;
    }
}